.board {
  min-width: 318px;
  min-height: 318px;
  width: 100%;
  height: 100%;
  max-width: 543px;
  max-height: 543px;
  background-color: rgba(8, 13, 43, 0.4);
  background-image: url('/public/images/board.svg');
  background-repeat: no-repeat;
  /* background-size: 543px 543px; */
}

.square {
  flex-grow: 1;
  min-width: 106px;
  min-height: 106px;
  aspect-ratio: 1/1;
  max-width: 181px;
  max-height: 181px;
  background-color: transparent;
  outline: none;
  border: none;
}


.square.simbol-x {
  background-image: url('/public/images/x.svg');
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
}
.square.simbol-o {
  background-image: url('/public/images/0.svg');
  background-repeat: no-repeat;
}

.board-row {
  display: flex;
  justify-content: center;
}
