.board {
  min-width: 318px;
  min-height: 318px;
  width: 100%;
  height: 100%;
  max-width: 543px;
  max-height: 543px;
  background-color: rgba(8, 13, 43, 0.4);
  background-image: url('/public/images/board.svg');
  background-repeat: no-repeat;
  /* background-size: 543px 543px; */
}

.square {
  min-width: 106px;
  min-height: 106px;
  width: 33%;
  height: 33%;
  max-width: 181px;
  max-height: 181px;
  float: left;
  background-color: transparent;
  outline: none;
  border: 1px solid red;
  box-sizing: border-box;
}
.square.simbol-x {
  background-image: url('/public/images/x.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.square.simbol-0 {
  background-image: url('/public/images/0.svg');
  background-repeat: no-repeat;
}

.board-row {
  clear: both;
  content: '';
}
