html{
  padding: 0;
  margin: 0;

}


body{
  background-color: #121212;
}
.board{
  min-width: 201px;
  width: 543px;
  height: 543px;
  max-width: 543px;
  max-height: 543px;
  background-color:#080d2b;
  background-image: url('/public/images/board.svg');
  background-repeat: no-repeat;
  background-size: 543px 543px;

}



.square {
  width: 181px;
  height: 181px;
  float: left;
  background-color: transparent;
  outline: none;
  border: none;
}
.square.simbol-x{
  background-image: url('/public/images/x.svg');
}

.board-row{
  clear: both;
}