@font-face {
  font-family: DiloWorld;
  src: url('../assets/fonts/DiloWorld.ttf');
}

.main-title {
  font-family: DiloWorld;
  font-size: 3rem;
  background: -webkit-linear-gradient(135deg, cyan, magenta);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 320px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* sm */
@media (width >= 576px) and (width <= 767.98px) {
  .main-title {
    font-size: 4.5rem;
  }
}

/* md */
@media (width >= 768px) and (width <= 991.98px) {
  .main-title {
    font-size: 4.5rem;
  }
}

/* lg */
@media (width >= 992px) and (width <= 1199.98px) {
  .main-title {
    font-size: 5rem;
  }
}

/* xl */
@media (width >= 1200px) and (width <= 1399.98px) {
  .main-title {
    font-size: 5.5rem;
  }
}

/* xxl */
@media (width >= 1400px) {
  .main-title {
    font-size: 6rem;
  }
}
