@font-face {
  font-family: DiloWorld;
  src: url('../assets/fonts/DiloWorld.ttf');
}

.main-title {
  font-family: DiloWorld;
  font-size: 78px;
  background: -webkit-linear-gradient(135deg, cyan, magenta);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 320px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
 
